<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/dreams_job</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.username">dreams_job</property>
		<property name="connection.password">dreams_job</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>


<!--
		<property name="connection_pool_size">10</property>
-->
		<!--<property name="hbm2ddl.auto">create</property>-->

		<property name="show_sql">true</property>

<!--		<mapping resource="com/ivanmix/model/User.hbm.xml" />-->
		<mapping resource="com/ivanmix/entity/Account.hbm.xml" />
		<mapping resource="com/ivanmix/entity/Apptication.hbm.xml" />
		<!--<mapping resource="com/ivanmix/model/Item.hbm.xml" />-->
	</session-factory>
</hibernate-configuration>